<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.EDI210ImportLogMapper">

    <insert id="insert" parameterType="com.boot.security.server.model.EDI210ImportLog"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO edi_210_import_log
        (batch_no, region, file_name, total_rows, success_rows, fail_rows, fail_message,
         create_user, create_time)
        VALUES
        (#{batchNo}, #{region}, #{fileName}, #{totalRows}, #{successRows}, #{failRows},
         #{failMessage}, #{createUser}, NOW())
    </insert>

</mapper>
