<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.EDI945Mapper">
    <resultMap id="BaseResultMap" type="com.boot.security.server.model.EDI945">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="ship_date" jdbcType="VARCHAR" property="shipDate"/>
        <result column="actual_date" jdbcType="VARCHAR" property="actualDate"/>
        <result column="sender" jdbcType="VARCHAR" property="sender"/>
        <result column="tracking_number" jdbcType="VARCHAR" property="trackingNumber"/>
        <result column="carton_no" jdbcType="VARCHAR" property="cartonNo"/>
        <result column="dn" jdbcType="VARCHAR" property="dn"/>
        <result column="shipment_number" jdbcType="VARCHAR" property="shipmentNumber"/>
        <result column="waybill" jdbcType="VARCHAR" property="waybill"/>
        <result column="shipway" jdbcType="VARCHAR" property="shipway"/>
        <result column="fwd" jdbcType="VARCHAR" property="fwd"/>
        <result column="fwd_code" jdbcType="VARCHAR" property="fwdCode"/>
        <result column="oem" jdbcType="VARCHAR" property="oem"/>
        <result column="gateway" jdbcType="VARCHAR" property="gateway"/>
        <result column="ctns" jdbcType="VARCHAR" property="ctns"/>
        <result column="units" jdbcType="VARCHAR" property="units"/>
        <result column="gw" jdbcType="VARCHAR" property="gw"/>
        <result column="ship_mode" jdbcType="VARCHAR" property="shipMode"/>
        <result column="poe" jdbcType="VARCHAR" property="poe"/>
        <result column="poe_country" jdbcType="VARCHAR" property="poeCountry"/>
        <result column="truck_plant_number" jdbcType="VARCHAR" property="truckPlantNumber"/>
        <result column="driver_name" jdbcType="VARCHAR" property="driverName"/>
        <result column="cellular" jdbcType="VARCHAR" property="cellular"/>
        <result column="ct_tracking" jdbcType="VARCHAR" property="ctTracking"/>
        <result column="gps_device" jdbcType="VARCHAR" property="gpsDevice"/>
        <result column="gps_updating" jdbcType="VARCHAR" property="gpsUpdating"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="messageid" jdbcType="VARCHAR" property="messageid"/>
        <result column="inreceiverid" jdbcType="VARCHAR" property="inreceiverid"/>
        <result column="insenderid" jdbcType="VARCHAR" property="insenderid"/>
        <result column="appreceivercode" jdbcType="VARCHAR" property="appreceivercode"/>
        <result column="orisenderid" jdbcType="VARCHAR" property="orisenderid"/>
        <result column="controlnumber" jdbcType="VARCHAR" property="controlnumber"/>
        <result column="transationrp" jdbcType="VARCHAR" property="transationrp"/>
        <result column="fuctionalrp" jdbcType="VARCHAR" property="fuctionalrp"/>
        <result column="dispose_997" jdbcType="VARCHAR" property="dispose997"/>
        <result column="des_lon" jdbcType="VARCHAR" property="desLon"/>
        <result column="des_lat" jdbcType="VARCHAR" property="desLat"/>
        <result column="device_type" jdbcType="VARCHAR" property="deviceType"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="location_time" jdbcType="TIMESTAMP" property="locationTime"/>
        <result column="track_end_time" jdbcType="TIMESTAMP" property="trackEndTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , status, create_date, ship_date, actual_date, sender, tracking_number, carton_no, dn, shipment_number,
    waybill, shipway, fwd, fwd_code, oem, gateway, ctns, units, gw, ship_mode, poe, poe_country, 
    truck_plant_number, driver_name, cellular, ct_tracking, gps_device, gps_updating, city, province, `position`,
    longitude, latitude, messageid, dispose_997, inreceiverid, insenderid, appreceivercode, orisenderid, controlnumber, transationrp,
    fuctionalrp
    </sql>
    <sql id="where">
        <where>
            <if test="params.shipmentNumber != null and params.shipmentNumber != ''">
                and shipment_number = #{params.shipmentNumber,jdbcType=VARCHAR}
            </if>
            <if test="params.waybill != null and params.waybill != ''">
                and waybill = #{params.waybill,jdbcType=VARCHAR}
            </if>
            <if test="params.oem != null and params.oem != ''">
                and oem = #{params.oem,jdbcType=VARCHAR}
            </if>
            <if test="params.gateway != null and params.gateway != ''">
                and gateway = #{params.gateway,jdbcType=VARCHAR}
            </if>
            <if test="params.region != null and params.region != ''">
                and poe_country IN
                <foreach collection="params.region" item="poeCountry" index="index" open="(" close=")" separator=",">
                    #{poeCountry}
                </foreach>
            </if>
            <if test="params.truckPlantNumber != null and params.truckPlantNumber != ''">
                and truck_plant_number = #{params.truckPlantNumber,jdbcType=VARCHAR}
            </if>
            <if test="params.sender != null and params.sender != ''">
                and sender IN
                <foreach collection="params.sender" item="sender" index="index" open="(" close=")" separator=",">
                    #{sender}
                </foreach>
            </if>
            <if test="params.shipDate != null and params.shipDate != ''">
                and ship_date = #{params.shipDate,jdbcType=VARCHAR}
            </if>
            <if test="params.dispose997 != null and params.dispose997 != ''">
                and dispose_997 = #{params.dispose997,jdbcType=INTEGER}
            </if>
        </where>
    </sql>
    <select id="selectByGPSState" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from edi_945_gps
        where gps_state = #{state,jdbcType=INTEGER}
    </select>
    <select id="selectByGPSStateOEM" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from edi_945_gps_oem
        where gps_state = #{state,jdbcType=INTEGER}
    </select>
    <select id="selectByGPSStateICT" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from edi_945_gps_ict
        where gps_state = #{state,jdbcType=INTEGER}
    </select>
    <select id="selectGPSByGpsDevice" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from edi_945_gps
        where gps_device = #{gpsDevice,jdbcType=VARCHAR}
          and gps_state = 0
    </select>
    <select id="selectGPSByGpsDeviceOEM" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from edi_945_gps_oem
        where gps_device = #{gpsDevice,jdbcType=VARCHAR}
          and gps_state = 0
    </select>
    <select id="selectGPSByGpsDeviceICT" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from edi_945_gps_ict
        where gps_device = #{gpsDevice,jdbcType=VARCHAR}
          and gps_state = 0
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_945
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="count" resultType="int">
        select count(1) from edi_945
        <include refid="where"/>
    </select>
    <select id="countOEM" resultType="int">
        select count(1) from edi_945_oem
        <include refid="where"/>
    </select>
    <select id="countICT" resultType="int">
        select count(1) from edi_945_ict
        <include refid="where"/>
    </select>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_945
        <include refid="where"/>
        order by ship_date desc
        limit #{offset}, #{limit}
    </select>
    <select id="listOEM" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_945_oem
        <include refid="where"/>
        order by ship_date desc
        limit #{offset}, #{limit}
    </select>
    <select id="listICT" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_945_ict
        <include refid="where"/>
        order by ship_date desc
        limit #{offset}, #{limit}
    </select>
    <select id="getSend997Data" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_945
        <include refid="where"/>
        and dispose_997 = 0
        order by ship_date desc
        limit #{offset}, #{limit}
    </select>
    <select id="getInfoByWaybill" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_945
        where waybill = #{waybill,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from edi_945
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertGPS" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.boot.security.server.model.EDI945">
        insert into edi_945_gps (truck_plant_number, gps_device,
                                 create_date, ct_tracking, gps_updating,
                                 city, province, position,
                                 longitude, latitude,
                                 des_lon, des_lat,
                                 device_type, source,
                                 company_code, location_time)
        values (#{truckPlantNumber,jdbcType=VARCHAR}, #{gpsDevice,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR},
                #{ctTracking,jdbcType=VARCHAR}, #{gpsUpdating,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
                #{desLon,jdbcType=VARCHAR}, #{desLat,jdbcType=VARCHAR},
                #{deviceType,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
                #{companyCode,jdbcType=VARCHAR}, #{locationTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertGPSOEM" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.boot.security.server.model.EDI945">
        insert into edi_945_gps_oem (truck_plant_number, gps_device,
                                     create_date, ct_tracking, gps_updating,
                                     city, province, position,
                                     longitude, latitude,
                                     des_lon, des_lat,
                                     device_type, source,
                                     company_code, location_time)
        values (#{truckPlantNumber,jdbcType=VARCHAR}, #{gpsDevice,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR},
                #{ctTracking,jdbcType=VARCHAR}, #{gpsUpdating,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
                #{desLon,jdbcType=VARCHAR}, #{desLat,jdbcType=VARCHAR},
                #{deviceType,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
                #{companyCode,jdbcType=VARCHAR}, #{locationTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertGPSICT" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.boot.security.server.model.EDI945">
        insert into edi_945_gps_ict (truck_plant_number, gps_device,
                                     create_date, ct_tracking, gps_updating,
                                     city, province, position,
                                     longitude, latitude,
                                     des_lon, des_lat,
                                     device_type, source,
                                     company_code, location_time)
        values (#{truckPlantNumber,jdbcType=VARCHAR}, #{gpsDevice,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR},
                #{ctTracking,jdbcType=VARCHAR}, #{gpsUpdating,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
                #{desLon,jdbcType=VARCHAR}, #{desLat,jdbcType=VARCHAR},
                #{deviceType,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
                #{companyCode,jdbcType=VARCHAR}, #{locationTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insert" parameterType="com.boot.security.server.model.EDI945">
        insert into edi_945 (id, status, create_date,
                             ship_date, actual_date, sender,
                             tracking_number, dn, shipment_number,
                             waybill, shipway, fwd,
                             fwd_code, oem, gateway,
                             ctns, units, gw, ship_mode,
                             poe, poe_country, truck_plant_number,
                             ct_tracking, gps_device, gps_updating,
                             city, province, position,
                             longitude, latitude)
        values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createDate,jdbcType=VARCHAR},
                #{shipDate,jdbcType=VARCHAR}, #{actualDate,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR},
                #{trackingNumber,jdbcType=VARCHAR}, #{dn,jdbcType=VARCHAR}, #{shipmentNumber,jdbcType=VARCHAR},
                #{waybill,jdbcType=VARCHAR}, #{shipway,jdbcType=VARCHAR}, #{fwd,jdbcType=VARCHAR},
                #{fwdCode,jdbcType=VARCHAR}, #{oem,jdbcType=VARCHAR}, #{gateway,jdbcType=VARCHAR},
                #{ctns,jdbcType=VARCHAR}, #{units,jdbcType=VARCHAR}, #{gw,jdbcType=VARCHAR},
                #{shipMode,jdbcType=VARCHAR},
                #{poe,jdbcType=VARCHAR}, #{poeCountry,jdbcType=VARCHAR}, #{truckPlantNumber,jdbcType=VARCHAR},
                #{ctTracking,jdbcType=VARCHAR}, #{gpsDevice,jdbcType=VARCHAR}, #{gpsUpdating,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.boot.security.server.model.EDI945">
        insert into edi_945
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="shipDate != null">
                ship_date,
            </if>
            <if test="actualDate != null">
                actual_date,
            </if>
            <if test="sender != null">
                sender,
            </if>
            <if test="trackingNumber != null">
                tracking_number,
            </if>
            <if test="dn != null">
                dn,
            </if>
            <if test="shipmentNumber != null">
                shipment_number,
            </if>
            <if test="waybill != null">
                waybill,
            </if>
            <if test="shipway != null">
                shipway,
            </if>
            <if test="fwd != null">
                fwd,
            </if>
            <if test="fwdCode != null">
                fwd_code,
            </if>
            <if test="oem != null">
                oem,
            </if>
            <if test="gateway != null">
                gateway,
            </if>
            <if test="ctns != null">
                ctns,
            </if>
            <if test="units != null">
                units,
            </if>
            <if test="gw != null">
                gw,
            </if>
            <if test="shipMode != null">
                ship_mode,
            </if>
            <if test="poe != null">
                poe,
            </if>
            <if test="poeCountry != null">
                poe_country,
            </if>
            <if test="truckPlantNumber != null">
                truck_plant_number,
            </if>
            <if test="ctTracking != null">
                ct_tracking,
            </if>
            <if test="gpsDevice != null">
                gps_device,
            </if>
            <if test="gpsUpdating != null">
                gps_updating,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="position != null">
                `position`,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="shipDate != null">
                #{shipDate,jdbcType=VARCHAR},
            </if>
            <if test="actualDate != null">
                #{actualDate,jdbcType=VARCHAR},
            </if>
            <if test="sender != null">
                #{sender,jdbcType=VARCHAR},
            </if>
            <if test="trackingNumber != null">
                #{trackingNumber,jdbcType=VARCHAR},
            </if>
            <if test="dn != null">
                #{dn,jdbcType=VARCHAR},
            </if>
            <if test="shipmentNumber != null">
                #{shipmentNumber,jdbcType=VARCHAR},
            </if>
            <if test="waybill != null">
                #{waybill,jdbcType=VARCHAR},
            </if>
            <if test="shipway != null">
                #{shipway,jdbcType=VARCHAR},
            </if>
            <if test="fwd != null">
                #{fwd,jdbcType=VARCHAR},
            </if>
            <if test="fwdCode != null">
                #{fwdCode,jdbcType=VARCHAR},
            </if>
            <if test="oem != null">
                #{oem,jdbcType=VARCHAR},
            </if>
            <if test="gateway != null">
                #{gateway,jdbcType=VARCHAR},
            </if>
            <if test="ctns != null">
                #{ctns,jdbcType=VARCHAR},
            </if>
            <if test="units != null">
                #{units,jdbcType=VARCHAR},
            </if>
            <if test="gw != null">
                #{gw,jdbcType=VARCHAR},
            </if>
            <if test="shipMode != null">
                #{shipMode,jdbcType=VARCHAR},
            </if>
            <if test="poe != null">
                #{poe,jdbcType=VARCHAR},
            </if>
            <if test="poeCountry != null">
                #{poeCountry,jdbcType=VARCHAR},
            </if>
            <if test="truckPlantNumber != null">
                #{truckPlantNumber,jdbcType=VARCHAR},
            </if>
            <if test="ctTracking != null">
                #{ctTracking,jdbcType=VARCHAR},
            </if>
            <if test="gpsDevice != null">
                #{gpsDevice,jdbcType=VARCHAR},
            </if>
            <if test="gpsUpdating != null">
                #{gpsUpdating,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boot.security.server.model.EDI945">
        update edi_945
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="shipDate != null">
                ship_date = #{shipDate,jdbcType=VARCHAR},
            </if>
            <if test="actualDate != null">
                actual_date = #{actualDate,jdbcType=VARCHAR},
            </if>
            <if test="sender != null">
                sender = #{sender,jdbcType=VARCHAR},
            </if>
            <if test="trackingNumber != null">
                tracking_number = #{trackingNumber,jdbcType=VARCHAR},
            </if>
            <if test="dn != null">
                dn = #{dn,jdbcType=VARCHAR},
            </if>
            <if test="shipmentNumber != null">
                shipment_number = #{shipmentNumber,jdbcType=VARCHAR},
            </if>
            <if test="waybill != null">
                waybill = #{waybill,jdbcType=VARCHAR},
            </if>
            <if test="shipway != null">
                shipway = #{shipway,jdbcType=VARCHAR},
            </if>
            <if test="fwd != null">
                fwd = #{fwd,jdbcType=VARCHAR},
            </if>
            <if test="fwdCode != null">
                fwd_code = #{fwdCode,jdbcType=VARCHAR},
            </if>
            <if test="oem != null">
                oem = #{oem,jdbcType=VARCHAR},
            </if>
            <if test="gateway != null">
                gateway = #{gateway,jdbcType=VARCHAR},
            </if>
            <if test="ctns != null">
                ctns = #{ctns,jdbcType=VARCHAR},
            </if>
            <if test="units != null">
                units = #{units,jdbcType=VARCHAR},
            </if>
            <if test="gw != null">
                gw = #{gw,jdbcType=VARCHAR},
            </if>
            <if test="shipMode != null">
                ship_mode = #{shipMode,jdbcType=VARCHAR},
            </if>
            <if test="poe != null">
                poe = #{poe,jdbcType=VARCHAR},
            </if>
            <if test="poeCountry != null">
                poe_country = #{poeCountry,jdbcType=VARCHAR},
            </if>
            <if test="truckPlantNumber != null">
                truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR},
            </if>
            <if test="ctTracking != null">
                ct_tracking = #{ctTracking,jdbcType=VARCHAR},
            </if>
            <if test="gpsDevice != null">
                gps_device = #{gpsDevice,jdbcType=VARCHAR},
            </if>
            <if test="gpsUpdating != null">
                gps_updating = #{gpsUpdating,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                `position` = #{position,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <sql id="updateByTruckPlantNumberSql">
        <set>
            <if test="gpsUpdating != null">
                gps_updating = #{gpsUpdating,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                `position` = #{position,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="gpsState != null">
                gps_state = #{gpsState,jdbcType=INTEGER},
            </if>
        </set>
    </sql>
    <update id="updateByTruckPlantNumber" parameterType="com.boot.security.server.model.EDI945">
        update edi_945
        <include refid="updateByTruckPlantNumberSql"/>
        where truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR}
    </update>
    <update id="updateByTruckPlantNumberOEM" parameterType="com.boot.security.server.model.EDI945">
        update edi_945_oem
        <include refid="updateByTruckPlantNumberSql"/>
        where truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR}
    </update>
    <update id="updateByTruckPlantNumberICT" parameterType="com.boot.security.server.model.EDI945">
        update edi_945_ict
        <include refid="updateByTruckPlantNumberSql"/>
        where truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR}
    </update>
    <sql id="updateGPSByTruckPlantNumberSql">
        <set>
            <if test="gpsUpdating != null">
                gps_updating = #{gpsUpdating,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                `position` = #{position,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="desLon != null">
                des_lon = #{desLon,jdbcType=VARCHAR},
            </if>
            <if test="desLat != null">
                des_lat = #{desLat,jdbcType=VARCHAR},
            </if>
            <if test="gpsState != null">
                gps_state = #{gpsState,jdbcType=INTEGER},
            </if>
            <if test="trackEndTime != null">
                track_end_time = #{trackEndTime,jdbcType=TIMESTAMP},
            </if>
        </set>
    </sql>
    <update id="updateGPSByTruckPlantNumber" parameterType="com.boot.security.server.model.EDI945">
        update edi_945_gps
        <include refid="updateGPSByTruckPlantNumberSql"/>
        where truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR}
        and gps_state = 0
    </update>
    <update id="updateGPSByTruckPlantNumberOEM" parameterType="com.boot.security.server.model.EDI945">
        update edi_945_gps_oem
        <include refid="updateGPSByTruckPlantNumberSql"/>
        where truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR}
        and gps_state = 0
    </update>
    <update id="updateGPSByTruckPlantNumberICT" parameterType="com.boot.security.server.model.EDI945">
        update edi_945_gps_ict
        <include refid="updateGPSByTruckPlantNumberSql"/>
        where truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR}
        and gps_state = 0
    </update>
    <sql id="editTruckByICTSql">
        <set>
            <if test="truckPlantNumber != null">
                truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="cellular != null">
                cellular = #{cellular,jdbcType=VARCHAR},
            </if>
            <if test="ctTracking != null">
                ct_tracking = #{ctTracking,jdbcType=VARCHAR},
            </if>
            <if test="gpsDevice != null">
                gps_device = #{gpsDevice,jdbcType=VARCHAR},
            </if>
            <if test="fwd != null">
                fwd = #{fwd,jdbcType=VARCHAR},
            </if>
            <if test="fwdCode != null">
                fwd_code = #{fwdCode,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="shipmentNumberSub != null and shipmentNumberSub != ''">
                and shipment_number = #{shipmentNumberSub,jdbcType=VARCHAR}
            </if>
            <if test="shipwaySub != null and shipwaySub != ''">
                and shipway = #{shipwaySub,jdbcType=VARCHAR}
            </if>
            <if test="oemSub != null and oemSub != ''">
                and oem = #{oemSub,jdbcType=VARCHAR}
            </if>
            <if test="gatewaySub != null and gatewaySub != ''">
                and gateway = #{gatewaySub,jdbcType=VARCHAR}
            </if>
            <if test="region != null and region != ''">
                and poe_country IN
                <foreach collection="region" item="poeCountry" index="index" open="(" close=")" separator=",">
                    #{poeCountry}
                </foreach>
            </if>
            <if test="truckPlantNumberSub != null and truckPlantNumberSub != ''">
                and truck_plant_number = #{truckPlantNumberSub,jdbcType=VARCHAR}
            </if>
            <if test="senderSub != null and senderSub != ''">
                and sender = #{senderSub,jdbcType=VARCHAR}
            </if>
            <if test="shipDateSub != null and shipDateSub != ''">
                and ship_date = #{shipDateSub,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <update id="editTruckBy" parameterType="com.boot.security.server.dto.EditTruckDTO">
        update edi_945
        <include refid="editTruckByICTSql"/>
    </update>
    <update id="editTruckByOEM" parameterType="com.boot.security.server.dto.EditTruckDTO">
        update edi_945_oem
        <include refid="editTruckByICTSql"/>
    </update>
    <update id="editTruckByICT" parameterType="com.boot.security.server.dto.EditTruckDTO">
        update edi_945_ict
        <include refid="editTruckByICTSql"/>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boot.security.server.model.EDI945">
        update edi_945
        set status             = #{status,jdbcType=INTEGER},
            create_date        = #{createDate,jdbcType=VARCHAR},
            ship_date          = #{shipDate,jdbcType=VARCHAR},
            actual_date        = #{actualDate,jdbcType=VARCHAR},
            sender             = #{sender,jdbcType=VARCHAR},
            tracking_number    = #{trackingNumber,jdbcType=VARCHAR},
            dn                 = #{dn,jdbcType=VARCHAR},
            shipment_number    = #{shipmentNumber,jdbcType=VARCHAR},
            waybill            = #{waybill,jdbcType=VARCHAR},
            shipway            = #{shipway,jdbcType=VARCHAR},
            fwd                = #{fwd,jdbcType=VARCHAR},
            fwd_code           = #{fwdCode,jdbcType=VARCHAR},
            oem                = #{oem,jdbcType=VARCHAR},
            gateway            = #{gateway,jdbcType=VARCHAR},
            ctns               = #{ctns,jdbcType=VARCHAR},
            units              = #{units,jdbcType=VARCHAR},
            gw                 = #{gw,jdbcType=VARCHAR},
            ship_mode          = #{shipMode,jdbcType=VARCHAR},
            poe                = #{poe,jdbcType=VARCHAR},
            poe_country        = #{poeCountry,jdbcType=VARCHAR},
            truck_plant_number = #{truckPlantNumber,jdbcType=VARCHAR},
            ct_tracking        = #{ctTracking,jdbcType=VARCHAR},
            gps_device         = #{gpsDevice,jdbcType=VARCHAR},
            gps_updating       = #{gpsUpdating,jdbcType=VARCHAR},
            city               = #{city,jdbcType=VARCHAR},
            province           = #{province,jdbcType=VARCHAR},
            position           = #{position,jdbcType=VARCHAR},
            longitude          = #{longitude,jdbcType=VARCHAR},
            latitude           = #{latitude,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateDispose997" parameterType="com.boot.security.server.model.EDI945">
        update edi_945
        set dispose_997  = #{dispose997,jdbcType=VARCHAR},
            transationrp = #{transationrp,jdbcType=VARCHAR},
            fuctionalrp  = #{fuctionalrp,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateGPSDevice">
        update edi_945_gps
        set gps_device = #{gpsDevice,jdbcType=VARCHAR}
        where truck_plant_number = #{trackingNumber,jdbcType=VARCHAR}
          and ct_tracking = #{ctTracking,jdbcType=VARCHAR}
    </update>
    <update id="updateGPSDeviceICT">
        update edi_945_gps_ict
        set gps_device = #{gpsDevice,jdbcType=VARCHAR}
        where truck_plant_number = #{trackingNumber,jdbcType=VARCHAR}
          and ct_tracking = #{ctTracking,jdbcType=VARCHAR}
    </update>
    <update id="updateGPSDeviceOEM">
        update edi_945_gps_oem
        set gps_device = #{gpsDevice,jdbcType=VARCHAR}
        where truck_plant_number = #{trackingNumber,jdbcType=VARCHAR}
          and ct_tracking = #{ctTracking,jdbcType=VARCHAR}
    </update>
</mapper>