<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.EDIManICT2020Mapper">
    <resultMap id="BaseResultMap" type="com.boot.security.server.model.EDIManICT2020">
        <id column="manid" jdbcType="INTEGER" property="manid"/>
        <result column="lid" jdbcType="INTEGER" property="lid"/>
        <result column="serial_no" jdbcType="VARCHAR" property="serialNo"/>
        <result column="tracking" jdbcType="VARCHAR" property="tracking"/>
        <result column="carton_no" jdbcType="VARCHAR" property="cartonNo"/>
        <result column="scccarton_count" jdbcType="VARCHAR" property="scccartonCount"/>
    </resultMap>
    <resultMap id="ediManResultMap" type="com.boot.security.server.model.EDIManICT2020DTO">
        <id column="manid" jdbcType="INTEGER" property="id"/>
        <result column="hid" jdbcType="INTEGER" property="hid"/>
        <result column="actual_date" jdbcType="VARCHAR" property="actualDate"/>
        <result column="shipper" jdbcType="VARCHAR" property="shipper"/>
        <result column="original" jdbcType="VARCHAR" property="original"/>
        <result column="hawb" jdbcType="VARCHAR" property="hawb"/>
        <result column="awb" jdbcType="VARCHAR" property="awb"/>
        <result column="shipmentway" jdbcType="VARCHAR" property="shipmentway"/>
        <result column="st_country" jdbcType="VARCHAR" property="country"/>
        <result column="type" jdbcType="VARCHAR" property="region"/>
        <result column="tracking" jdbcType="VARCHAR" property="tracking"/>
        <result column="dn" jdbcType="VARCHAR" property="dn"/>
        <result column="partno" jdbcType="VARCHAR" property="partno"/>
        <result column="total_pallet" jdbcType="VARCHAR" property="totalPallet"/>
        <result column="CTNs" jdbcType="VARCHAR" property="ctns"/>
        <result column="QTY" jdbcType="VARCHAR" property="qty"/>
        <result column="factory_weight" jdbcType="VARCHAR" property="factoryWeight"/>
        <result column="truck_no" jdbcType="VARCHAR" property="truckNo"/>
    </resultMap>
    <sql id="Base_Column_List">
    manid, lid, serial_no, tracking, carton_no, scccarton_count
  </sql>
    <sql id="where">
        <where>
            <if test="params.actualDate != null and params.actualDate != ''">
                and h.actual_date = #{params.actualDate,jdbcType=VARCHAR}
            </if>
            <if test="params.shipmentway != null and params.shipmentway != ''">
                and h.shipmentway = #{params.shipmentway,jdbcType=VARCHAR}
            </if>
            <if test="params.hawb != null and params.hawb != ''">
                and h.hawb = #{params.hawb,jdbcType=VARCHAR}
            </if>
            <if test="params.awb != null and params.awb != ''">
                and h.awb = #{params.awb,jdbcType=VARCHAR}
            </if>
            <if test="params.truckNo != null and params.truckNo != ''">
                and n.truck_no = #{params.truckNo,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from edi_man_ICT_2020
        where manid = #{manid,jdbcType=INTEGER}
    </select>
    <select id="count" resultType="int">
        select
        count(1)
        FROM
        edi_man_ICT_2020 m
        LEFT JOIN edi_detail_ICT_2020 d ON m.lid = d.linid
        LEFT JOIN edi_heading_ICT_2020 h ON d.id = h.id
        LEFT JOIN edi_heading_update_ICT u ON h.id = u.hid
        LEFT JOIN edi_truck_no_ICT n ON m.manid = n.mid
        LEFT JOIN t_dict t ON t.val = d.st_country
        <include refid="where"/>
        order by h.actual_date desc
    </select>
    <select id="list" resultMap="ediManResultMap">
        SELECT
        m.manid,
        h.ID AS 'hid',
        h.actual_date,
        h.shipper,
        h.original,
        h.hawb,
        h.awb,
        h.shipmentway,
        d.st_country,
        t.type,
        m.tracking,
        d.dn,
        d.partno,
        h.total_pallet,
        u.CTNs,
        u.QTY,
        u.factory_weight,
        n.truck_no
        FROM
        edi_man_ICT_2020 m
        LEFT JOIN edi_detail_ICT_2020 d ON m.lid = d.linid
        LEFT JOIN edi_heading_ICT_2020 h ON d.id = h.id
        LEFT JOIN edi_heading_update_ICT u ON h.id = u.hid
        LEFT JOIN edi_truck_no_ICT n ON m.manid = n.mid
        LEFT JOIN t_dict t ON t.val = d.st_country
        <include refid="where"/>
        order by h.actual_date desc
        limit #{offset}, #{limit}
    </select>
    <select id="listAll" resultMap="ediManResultMap">
        SELECT
        m.manid,
        h.ID AS 'hid',
        h.actual_date,
        h.shipper,
        h.original,
        h.hawb,
        h.awb,
        h.shipmentway,
        d.st_country,
        t.type,
        m.tracking,
        d.dn,
        d.partno,
        h.total_pallet,
        u.CTNs,
        u.QTY,
        u.factory_weight,
        n.truck_no
        FROM
        edi_man_ICT_2020 m
        LEFT JOIN edi_detail_ICT_2020 d ON m.lid = d.linid
        LEFT JOIN edi_heading_ICT_2020 h ON d.id = h.id
        LEFT JOIN edi_heading_update_ICT u ON h.id = u.hid
        LEFT JOIN edi_truck_no_ICT n ON m.manid = n.mid
        LEFT JOIN t_dict t ON t.val = d.st_country
        <include refid="where"/>
        order by h.actual_date desc
    </select>
    <select id="findByIdArray" parameterType="java.lang.Integer" resultMap="ediManResultMap">
        SELECT
        m.manid,
        h.ID AS 'hid',
        h.actual_date,
        h.shipper,
        h.original,
        h.hawb,
        h.awb,
        h.shipmentway,
        d.st_country,
        t.type,
        m.tracking,
        d.dn,
        d.partno,
        h.total_pallet,
        u.CTNs,
        u.QTY,
        u.factory_weight,
        n.truck_no
        FROM
        edi_man_ICT_2020 m
        LEFT JOIN edi_detail_ICT_2020 d ON m.lid = d.linid
        LEFT JOIN edi_heading_ICT_2020 h ON d.id = h.id
        LEFT JOIN edi_heading_update_ICT u ON h.id = u.hid
        LEFT JOIN edi_truck_no_ICT n ON m.manid = n.mid
        LEFT JOIN t_dict t ON t.val = d.st_country
        where m.manid in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edi_man_ICT_2020
    where manid = #{manid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.boot.security.server.model.EDIManICT2020">
    insert into edi_man_ICT_2020 (manid, lid, serial_no, 
      tracking, carton_no, scccarton_count
      )
    values (#{manid,jdbcType=INTEGER}, #{lid,jdbcType=INTEGER}, #{serialNo,jdbcType=VARCHAR}, 
      #{tracking,jdbcType=VARCHAR}, #{cartonNo,jdbcType=VARCHAR}, #{scccartonCount,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.boot.security.server.model.EDIManICT2020">
        insert into edi_man_ICT_2020
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="manid != null">
                manid,
            </if>
            <if test="lid != null">
                lid,
            </if>
            <if test="serialNo != null">
                serial_no,
            </if>
            <if test="tracking != null">
                tracking,
            </if>
            <if test="cartonNo != null">
                carton_no,
            </if>
            <if test="scccartonCount != null">
                scccarton_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="manid != null">
                #{manid,jdbcType=INTEGER},
            </if>
            <if test="lid != null">
                #{lid,jdbcType=INTEGER},
            </if>
            <if test="serialNo != null">
                #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="tracking != null">
                #{tracking,jdbcType=VARCHAR},
            </if>
            <if test="cartonNo != null">
                #{cartonNo,jdbcType=VARCHAR},
            </if>
            <if test="scccartonCount != null">
                #{scccartonCount,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boot.security.server.model.EDIManICT2020">
        update edi_man_ICT_2020
        <set>
            <if test="lid != null">
                lid = #{lid,jdbcType=INTEGER},
            </if>
            <if test="serialNo != null">
                serial_no = #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="tracking != null">
                tracking = #{tracking,jdbcType=VARCHAR},
            </if>
            <if test="cartonNo != null">
                carton_no = #{cartonNo,jdbcType=VARCHAR},
            </if>
            <if test="scccartonCount != null">
                scccarton_count = #{scccartonCount,jdbcType=VARCHAR},
            </if>
        </set>
        where manid = #{manid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boot.security.server.model.EDIManICT2020">
    update edi_man_ICT_2020
    set lid = #{lid,jdbcType=INTEGER},
      serial_no = #{serialNo,jdbcType=VARCHAR},
      tracking = #{tracking,jdbcType=VARCHAR},
      carton_no = #{cartonNo,jdbcType=VARCHAR},
      scccarton_count = #{scccartonCount,jdbcType=VARCHAR}
    where manid = #{manid,jdbcType=INTEGER}
  </update>
</mapper>